*{ 
  margin: 0; /* Estilo para la pagina */
  box-sizing: border-box;
}


.login{
   text-align: center;
   position: relative;
   bottom: 120px; 
   right: 30px;
}
.licenciasp2{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #e5ff81;
    text-align: center; 
  
}
.licenciasp{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #fa780e;
    text-align: center; 
  
}
.nostrosP3{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #ff8181;
    text-align: center; 
  
}
.nostrosP2{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #d3fffa;
    text-align: center; 
  
}
.nostrosP{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #00ffe4;
    text-align: center; 
  
}
.noticiaBlog3{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #e0d3d1;
    text-align: center; 
  
}

.blogg3_p{
    font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #a2fbeb;
    text-align: center; 
}

.noticiaBlog2{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #c8f27a;
    text-align: center; 
  
}

.blogg2_p{
    font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #ff6855;
    text-align: center; 
}

.noticiaB_img{
   width: 50%;
    position: relative;
     left: 100px;

   }  

.noticiaBlog{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #fff4ad;
    text-align: center; 
  
}

.blogg_p{
    font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #f7fcdc;
    text-align: center; 
}

.blogg{
    font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: skyblue;
    text-align: center; 
}

.fondo_inicioArt{
   background-color: #f0f1ea;
}

.noticia_part2{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: skyblue;
    text-align: center; 
    color: black;
    padding: 20px;
    position: relative;
     bottom: 30px;
}

.noticia_part{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  background: #27ff34;
    text-align: center; 
    color: black;
    padding: 20px;
    position: relative;
     bottom: 30px;
}

.escuchaArt{
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;

  background: black;
  padding: 20px;
     position: relative;
     left: 80px;
     
}

.noticia_art{
  background: #dafe17;
    text-align: center; 
    color: black;
    padding: 20px;

    position: relative;
     left: 80px;

}
.noticia_art1{
  background: black;
    text-align: center; 
    color: white;
    position: relative;
    bottom: 200px;
    left: 380px;
    max-width: 670px;
    font-size: 4em;
   
    
}



.noticias_art{
  background: #cfff27;
    text-align: center; 
    color: black;
    padding: 20px;


}

.art_img{
     width: 34%;
    position: relative;
     left: 10px;
     top: 20px;}


.escucha{

  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;

  background: #2585ef;
  padding: 20px;
     position: relative;
     left: 80px;
}

#scrollUp { /*Estilo para boton subir*/
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;
  background: url('up1.png');
  background-size: cover;
}


#scrollUp:hover{
     box-shadow: 0 0px 15px 3px rgba(98, 199, 231, 0.9);  
}

.noticias{
  background: #dafe17;
    text-align: center; 
    color: black;
    padding: 20px;
}
.noticia{
	background: red;
    text-align: center; 
    color: #fff;
    padding: 20px;
}
.noticia_p1{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;

  background: #66ff2b;
    text-align: center; 
    color: black;
    padding: 20px;
}
.noticia_p{
	font-family: 'Open sans';
	margin: 15px;
	width: 85%;
	max-width: 1000px;
	margin: auto;

	background: #ef9a9a;
    text-align: center; 
    color: black;
    padding: 20px;
}
.noticia_p2{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;

  background: #2585ef;
    text-align: center; 
    color: black;
    padding: 20px;

}
.noticia_p3{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;

  background: #6eef25;
    text-align: center; 
    color: black;
    padding: 20px;

}
.noticia_p4{
  font-family: 'Open sans';
  margin: 15px;
  width: 85%;
  max-width: 1000px;
  margin: auto;

  background: #dff27a;
    text-align: center; 
    color: black;
    padding: 20px;

}

.noticia_img{
   width: 20%;
    position: relative;
     left: 400px;

   }  